.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 90px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.button {
  padding: 15px 32px;
  background-color: palevioletred;
  color: white;
  margin: 20px;
}

.modal {
  position: 'fixed';
  left: '50%';
  top: '50%';
  padding: 10px 20px 40px;
  background-color: lightgray;
}

.form {
  margin: 20px;
  color: palevioletred;
}

.itemImage {
  height: 240px;
  width: 180px;
  padding: 10px;
}
 
.item {
  background-color: lightgrey;
  width: 240px;
  height: 340px;
  display: inline-block;
  margin: 20px;
}

.list {
  display: inline-block;
}

.add-review {
  background-color: lightgrey;
  padding: 10px;
  margin: 30px;
  height: 200px;
}

.title{
  padding: 5px;
}

.submit {
  margin: 5px;
}

.user-image {
  height: 50px;
  width: 50px;
  padding: 5px;
  align-content: flex-start;
}

.userName {
  color: black;
}

.review {
  display: flex;
  width: 90%;
  background-color: pink;
  margin: 15px;
}

.review-form {
  margin: 2rem;
}

.mgt-2 {
  margin-top: 2rem;
}

.review-date {
  margin: 10px;
}

div.title:hover {
  color: purple;
}

button:hover {
  background-color: purple;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  width: 80%;
  border: 20px gray;
}
